.categories__nav {
  background-color: #3a9efd;
  text-align: center;
  padding: 20px;
  /* width: 100%; */
}

.categories__nav ul {
  list-style: none;
  width: 30%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categories__nav ul li {
  display: inline-block;
  text-transform: capitalize;
}
